header {
    text-align: center;
    font-size: large;
}
body {
    font-family: monospace;
    background-color: black;
    margin: 40px;
    color: white;
}
.box,.images {
    width: 100%;
    height: auto;
    overflow: hidden;
    margin-top: 20px;
    margin-bottom: 20px;
} 
.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 300px;
}    
.recipe-grid {
    display: grid;
    grid-template-columns: unset unset; /* Creates two columns */
    gap: 2px;
    border: 1px solid #ccc; /* Adds a border around the grid */
    position: relative; /* Needed for the pseudo-element positioning */
}     
.recipe-grid::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 50%;
    width: 1px;
    background-color: #000;
}
    
.ingredient,.method {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: center;
}

.list-item {
    border: 1px hidden; /* Adjust the border style as needed */
    padding: 5px; /* Adds some space inside the border */
    margin-bottom: 5px; /* Adds space below each item for better separation */
}

.image-container {
    display: grid;
    place-items: center;
}