header {
    text-align: center;
    font-size: large;
}

body {
    font-family: monospace;
    background-color: black;
    margin: 0px;
    padding: 10px;
    color: white;
}

.box,
.images {
    width: 100%;
    height: auto;
    overflow: hidden;
    margin-top: 20px;
    margin-bottom: 20px;
    object-fit: cover;
}

div {
    border: 1px hidden;
    padding: 8px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.nav {
    display: flex;
    justify-content: center;
    align-items: center;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

nav li {
    float: left;
}

nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav li a:hover:not(.active) {
    background-color: #111;
}

nav .active {
    background-color: #04AA6D;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 300px;
}

li {
    text-indent: 50px;
    text-align: center;
    letter-spacing: 3px;
}

h1 {
    text-align: center;
}

.list-item {
    border: 1px hidden;
    /* Adjust the border style as needed */
    padding: 5px;
    /* Adds some space inside the border */
    margin-bottom: 5px;
    /* Adds space below each item for better separation */
}

.image-container img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    /* Ensures the image covers the area without distortion */
}

.image-container {
    display: grid;
    place-items: center;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    height: auto;
}