@import url('https://fonts.googleapis.com/css2?family=Besley:ital,wght@0,400;1,900&display=swap');

body {
    background: black;
    margin: 0;
    font-family: monospace, Besley, serif;
    padding: 10px;
    color: white;
}

.header-nav {
    /* display: flex;
  justify-content: center;
  padding: 8px; */
    background: #111;
    border-bottom: 1px solid #ddd;
    box-shadow: 0 0 8px rgba(0, 0, 0, .1);
}

a {
    text-decoration: none;
    color: white;
}

.header-nav ul.links {
    list-style-type: none;
    display: flex;
    padding: o;
    margin: 0;
    gap: 16px;
}

.header-nav {
    display: flex;
    justify-content: center;
    padding: 8px;
}

.header-nav ul.links {
    display: flex;
    margin: 0;
    padding: 0;
    gap: 16px;
}

header {
    text-align: center;
    font-size: large;
}

.box,
.images {
    width: 100%;
    height: auto;
    overflow: hidden;
    margin-top: 20px;
    margin-bottom: 20px;
    object-fit: cover;
}

div {
    border: 1px hidden;
    padding: 8px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 300px;
}

li {
    text-indent: 50px;
    text-align: center;
    letter-spacing: 3px;
}

h1 {
    text-align: center;
}

.list-item {
    border: 1px hidden;
    padding: 5px;
    margin-bottom: 5px;
}

.image-container img {
    width: 200px;
    height: 200px;
    object-fit: cover;
}

.image-container {
    display: grid;
    place-items: center;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    height: auto;
}